/*cssreset*/
html,body{height: 100%;overflow: hidden;}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px;padding: 0px;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}

/*清除浮动*/
.clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}

#wrap{
  width: 100%;
}
/*头部样式*/
#header{
  position: relative;
  width: 100%;
  height: 80px;
  background-color: skyblue;
}
#header .headerMain{
  margin: 0 auto;
  width: 1100px;
  height: 80px;
  background-color: pink;
}
#header .headerMain .logo{
  float: left;
  margin-top: 15px;
}
#header .headerMain .nav{
  float: right;
  margin-top: 50px;
}
#header .headerMain .nav .navList .navItem{
  position: relative;
  float: left;
  margin-left: 40px;
}
#header .headerMain .nav .navList .navItem .up{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  color: black;
  overflow: hidden;
  transition: 1s width;
}
#header .headerMain .nav .navList .navItem .down{
  color: #009EE0;
}
#header .headerMain .nav .navList .navItem:hover .up{
  width: 100%;
}
#header .headerMain .arrow{
  position: absolute;
  left: 50%;
  bottom: -11px;
  transform: translateX(-50%);
  width: 21px;
  height: 11px;
  background-image: url("../img/arrow.png");
  transition: 1s left;
}



/*内容区样式*/
#content{
  width: 100%;
  height: 400px;
  background-color: gray;
}